<h1>Cookies</h1>
<p>
Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones, and other devices.
</p>
<h2>Why we use cookies?</h2>
<p>We use cookies to personalize the content of our web application for you. If you click or navigate on our pages you agree on the use of cookies.
</p>
<h3>Authentication</h3>
<h3>Site Features</h3>
We use cookies for certain functionality of this site.
<p><i>For example</i> we only show you the introduction once when you enter the site. Thereafter we remember you have seen it using a cookie. So we don't force you to go through it again. You only see it again if you explicitely navigate to it.
</p>
<h2>Ho can you control the use of cookies?</h2>
<p>If you are looking for more information how to control or delete cookies you find a good overview at this site: <a href="https://aboutcookies.org/">aboutcookies</a>.
</p>



