<h1> Welcome to this Roda Sample Site!</h1>
<p> This site was created by  <a href="https://github.com/erdmenger">Joerg Erdmenger</a> in order to learn the Ruby based <a href="https://github.com/jeremyevans/roda">Roda</a> web toolkit. It has no other purpose than experiment with some of Roda's features.</p>
<p>The version you see most probably runs on the Ruby runtime of IBM's Cloud Foudnry service on <a href="https://www.ibm.com/cloud">IBM Cloud</a>.</p>

<p> When working on another project Roda was imposed on me. Since I could not find much good sample material available I decided to create my own and make it public while I play and experiment. Might somebody else out there find it useful.</p>

This site used cookies to notice if you where here before.</p>
Only if you come here for the first time or have not accepted our cookie policy you will be precented this page before you can enter the site. After you accepted our cookie policy this page will only be presented to you if you request it.</p>
</p>

Let's enter <%=@page_to_publish%> .
<center> <a href=<%=@page_to_publish%> >Enter Site</a> </center>
