<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Roda powered Webside</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/custom.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/navbar.js"></script>
  <script src="js/cookiebanner.min.js"></script>

</head>

<body>
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="/">Roda Sample Site</a>
      </div>

      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li><a href="/homepage">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </section>


  <article>
    <%= yield %>
  </article>

  <script type="text/javascript">
    var options = { message: "We use cookies to improve your browsing experience.", moreinfo: "/cookie-guide" };
    var cb = new Cookiebanner(options); cb.run();
  </script>

</body>

